@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --main-color: #46C578;
  --text-color: #303030;
  --text-color-body: #73798C;
  --text-color-captions: #A7AED2;
  --divider-light-gray: #F0F0F0;
  --search-bar-background: #F4F5FA;
}


*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  margin: 0 auto;
} */
 